body {
    background: #2b2b2b;
}
a {
    text-decoration: none;
    color: inherit;
}

.movie-owner {
    color: rgb(255, 0, 106);
}

.series-name {
    transition: all 0.5s;
}
.series-name:hover {
    color: rgb(179, 230, 245);
    font-size: 1.7em;
    transition: all 0.5s ease;
}
